/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family-Raleway:300,700');

body {
  padding: 3em;
  font-family: 'Raleway', 'Arial';
  background-color: #A9BCD0;
  color: #fff;
}
.menu {
  padding: 0;
  margin: 0 0 2em 0;
  list-style-type: none;
}
.menu li {
  display: inline;
  margin-right: 1.5em;
}
.menu-item, .menu span {
  font-size: 1.35em;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  border-bottom: 2px solid #58A4B0;
}
