.container {
  display: grid;
  grid-template-columns: 50% auto;
}
.col {
  padding: .4em 1.3em;
}
.color-dark {
  background: #373F51;
}
.color-light {
  background: #D8DBE2;
}
input.txt {
  margin-bottom: 2em;
  padding: 1em;
  width: 80%;
  border: 0;
  color: #1B1B1E;
}
input.btn {
  display: block;
  margin-bottom: 1em;
  padding: 1em 3em;
  border: 0;
  background: #58A4B0;
  color: #1B1B1E;
  cursor: pointer;
}
.life-container {
  padding: .5em;
  background: #A9BCD0;
  color: #373F51;
  text-transform: uppercase;
  cursor: pointer;
}
